In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

from IPython.core.display import display, HTML # расширяем блокнот
display(HTML("<style>.container { width:90% !important; }</style>"))

pd.set_option('display.max_columns', None) # выводим все колонки

from IPython.core.interactiveshell import InteractiveShell # выводим все результаты из ячейки
InteractiveShell.ast_node_interactivity = "all"

Наш процесс извлечения данных будет идти примерно так:

* Загружаем веб-страницу, содержащую данные
* Найдите данные на странице и извлеките их
* Собираем данные в датафрейм

## Загрузите веб-страницу, содержащую данные

In [2]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2000"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

## Находим данные и извлекаем их

In [3]:
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

#смотрим на имя первого игрока
Players[0].text

'Luís Figo'

In [4]:
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

Values[0].text

'£54.00m'

## Организуйте данные в датафрейм

In [6]:
PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df

                    Players   Values
0                 Luís Figo  £54.00m
1             Hernán Crespo  £51.13m
2             Marc Overmars  £36.00m
3         Gabriel Batistuta  £32.54m
4            Nicolas Anelka  £31.05m
5             Rio Ferdinand  £23.40m
6          Flávio Conceição  £22.50m
7            Savo Milosevic  £22.50m
8           David Trézéguet  £20.92m
9             Claudio López  £20.70m
10  Jimmy Floyd Hasselbaink  £20.25m
11             Gerard López  £19.44m
12                    Lucas  £19.17m
13              Pablo Aimar  £19.13m
14            Wálter Samuel  £18.72m
15            Shabani Nonda  £18.00m
16             Robbie Keane  £17.55m
17          Jonathan Zebina  £16.56m
18                  Émerson  £16.20m
19           Tore André Flo  £16.20m
20            Sergiy Rebrov  £16.20m
21           Angelo Peruzzi  £16.11m
22            Diego Tristán  £15.98m
23          Sylvain Wiltord  £15.75m
24         Fernando Redondo  £15.75m